@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


/* --------------PAGINATION--------------- */
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    /* justify-content: flex-start; */
    position: fixed !important;
    bottom: 50px !important;
    right: 3rem !important;
}


/* -----------------ADMIN-------------------- */

html,
body,
#root,
.app,
.content {
    height: 100vh;
    width: 100%;
    font-family: "Source Sans Pro", sans-serif;
}

thead>th {
    font-weight: 400;
}

.app {
    position: relative;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.ant-form-item-control-input-content {
    display: flex;
    flex-direction: column;
}

.pro-sidebar {
    z-index: 998;
}






/* ----------------USER--------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --speed: 500ms;
}

.w-90 {
    width: 90%;
}

.font-50 {
    font-size: 50px !important;
}

.border-bottom {
    border-bottom: 1px solid #fff
}

.clip-path {
    clip-path: polygon(50% 75%, 0% 100%, 100% 100%);
}

.transition {
    transition: all .3s linear;
}

.pr-14 {
    padding-right: 56px !important;
}



/* Define styles for the active tab */
.active-tab {
    border-left: 4px solid #f4495a;
    transition: background-color 0.3s ease, border-left 0.3s ease;
}


.active {
    color: #fff;
    cursor: default;
    font-weight: 500;
}

.search-icon {
    transform: translateX(-30px);
    font-weight: 700;
}

.input-search {
    transition: width 0.5s;
    padding: 10px 40px 10px 14px;
    width: 280px;
    opacity: 1;
    cursor: text;
    border-radius: 8px;
    background: transparent;
    z-index: 0;
    border: 2px solid #939393;
    outline: none;
    color: white;
    font-weight: 400;
}

.transition-scale {
    animation: fadeIn .3s ease-in;
}



/* Slideshow */

.slideshow {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}

.slideshowSlider {
    white-space: nowrap;
    transition: ease 2000ms;
}

.slide {
    display: inline-block;

    height: 700px;
    width: 100%;
}

.slick-list {
    padding-top: 10px;
}

.slick-slide>div {
    margin: 0 20px;
    border-radius: 6px;
}

.service:hover,
.slick-slide>div:hover {
    cursor: pointer;
    transform: translateY(-10px);
    transition: all linear 0.3s
}

.slick-dots {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
}

.slick-dots li button:before {
    font-size: 20px !important;
}


/* Buttons */

.slideshowDots {
    text-align: center;
}

.slideshowDot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;

    cursor: pointer;
    margin: 15px 7px 0px;

    background-color: #c4c4c4;
}

.slideshowDot.active {
    background-color: #6a0dad;
}

.btn {
    padding: 12px 20px;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    border-radius: 6px;
    border: none;
    outline: none;
}

.btn-small {
    padding: 8px 14px;
    color: #fff;
    font-size: 26px;
    font-weight: 500;
    border-radius: 6px;
    border: none;
    outline: none;
}

.btn-primary {
    background-color: #D90429;
}

.btn-disabled {
    background-color: transparent;
    border: 1px solid #a5a5a5;
    color: #d3d3d3;
}

.btn-primary:hover {
    background-color: #ff042e;
}

.btn-disabled:hover {
    color: #fff;
    border-color: #fff
}

.custom-text-desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.custom-text-desc-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.custom-text-desc-1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

/* rating */
.rating {
    background-image: url('./assets//images/bg-rate.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 550px;
    padding: 0 6rem;
}

.list-rating .slick-arrow {
    display: none !important;
}

.list-rating .slick-slider .slick-dots li button:before {
    color: white;
}

.list-rating .slick-slider .slick-dots li.slick-active button:before {
    color: #FF5A5A;
}

.list-rating .slick-slider .slick-dots li button:hover {
    color: #FF5A5A;
}

.list-rate {
    position: relative;
    border: 1px solid #FF5A5A;
    border-radius: 4px
}

.image-avatar {
    position: absolute;
    top: -30px;
}

/* footer */
.footer {
    width: 100%;
    min-height: 400px;
    background: #36404B;
}

.contact-info>span>a {
    color: #fb4848;
    padding-left: 10px;
    line-height: 30px;
}

.service-detail>li {
    display: flex;
    align-items: center;
    line-height: 42px;
    padding-left: 10px;
}

.custom-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: #fb4848;
    padding: 4px;
    border-radius: 100rem;
    font-weight: 900;
}

.social-icon {
    width: 40px;
    height: 40px;
    background: #636363;
    padding: 8px;
    border-radius: 100rem;
    transition: all ease-in 0.2s;
}

.social-icon:hover {
    cursor: pointer;
    transform: scale(1.2);
    opacity: 0.8;
}

.custom-input {
    padding: 12px 10px;
    margin-bottom: 12px;
    border: none;
    outline: none;
    border-radius: 6px;
    width: 90%;
    font-size: 18px;
    color: black;
}

/* introduce */
.area-bg__inner {
    position: relative;
    z-index: 30;
}

.b-title-page__wrap {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
    padding-right: 435px;
    padding-left: 435px;
    background-color: rgba(18, 24, 32, 0.85);
    -webkit-clip-path: polygon(0 0%, 87% 0, 100% 100%, 13% 100%);
    clip-path: polygon(0 0%, 87% 0, 100% 100%, 13% 100%);
}

.b-title-page__wrap nav {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.b-title-page {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    content: " \2192";
    font-family: 'ElegantIcons';
    color: #ffffff;
    font-size: 16px;
    vertical-align: -13%;
}

.menu-user::before {
    position: absolute;
    content: "";
    clip-path: polygon(51% 75%, 0% 100%, 100% 100%);
    background: #7c7c7c;
    width: 80px;
    height: 90px;
    top: -77px;
    left: 161px;
    z-index: 1000;
}

.menu-user.menu-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease
}

.menu-user.menu-inactive {
    opacity: 0;
    visibility: visible;
    transform: translateY(-20px);
    transition: var(--speed) ease
}

.custom-text {
    font-size: 18px;
    width: 160px;
    font-weight: 500;
}

.custom-input-profile {
    border: none;
    outline: none;
    border-radius: 4px;
    color: #000;
    background-color: #fff;
    margin-bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.action>button {
    padding: 8px 20px;
    font-size: 20px;
}


.input-appoint {
    padding: 12px 10px;
    margin-bottom: 18px;
    border: none;
    outline: none;
    border-radius: 6px;
    width: 100%;
    font-size: 18px;
    background: #f1f1f1;
    color: rgb(0, 0, 0);
}

.text-14 {
    font-size: 14px !important;
}

.opacity-8 {
    opacity: 0.8 !important;
}

.ant-form-item {
    margin-bottom: 12px !important;
}

.padding-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-x-10 {
    padding: 24px 10px !important;
}

.border-none {
    margin-top: 6px;
    border: none !important;
    /* background-color:#efefef */
}

.ant-select {
    height: 53px;
    border-radius: 6px;
}

.ant-select-selector {
    background: #f1f1f1 !important;
    border: none !important;
    padding: 10px 10px !important;
    font-size: 18px !important;
    color: rgb(0, 0, 0) !important;
}

.ant-select-selection-item {
    font-size: 14px !important;
}

.notify {
    position: absolute;
    width: 460px;
    min-height: 100px;
    background-color: #7C7C7C;
    top: 40px;
    right: -30px;
    z-index: 10000;
    border-radius: 4px;
}

.notify::after {
    content: "";
    position: absolute;
    top: -34px;
    right: 0;
    width: 100px;
    height: 50px;
    background-color: #7C7C7C;
    -webkit-clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
}

.detail-modal {
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Định dạng chung của Select */
.ant-select {
    width: 100%;
}

.ant-select-selector {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    height: 36px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    outline: none;
    box-shadow: none;
}

.ant-select-selection-item {
    border-radius: 4px;
    margin-right: 4px;
}

.ant-select-selection-item-remove {
    margin-left: 4px;
}

.ant-select-dropdown {
    border-radius: 4px;
}

.ant-select-item {
    padding: 8px 12px;
}

.ant-select-item-option-selected {
    background-color: #e6f7ff;
}

.ant-select-item-option:hover {
    background-color: #f0f0f0;
}